{% extends "base.html" %}

{% block content %}

<br>
<div class="featured-post-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">

                {% for article in object_list %}
                    {% include "partials/post_thumb_2.html" %}
                {% empty %}
                <h3>Nemamo nikakvih članaka koji u naslovu sadržavaju vašu ključnu riječ.</h3>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
