{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
    <br>
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="blog-posts-area">
                        
                        {% include "partials/post_content.html" %} 

                        {% include "partials/about_author.html" %}   

                </div>
            </div>                        
        </div>    
        
{% include "partials/comment_area.html" %}   

</div>                        
{% endblock content %}

{% block jscript %}
<script src="{% static 'js/post-delete-update-comment.js' %}"></script>
{% endblock jscript %}